# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/
portfolio_env/

# Conda environment files
*.conda
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data and models
data/
models/
*.csv
*.xlsx
*.h5
*.pkl
*.joblib

# VS Code settings
.vscode/
.settings/

# Logs and outputs
*.log
*.out
*.tmp
*.DS_Store

# OS-specific
Thumbs.db
ehthumbs.db
Desktop.ini
